<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--endInject-->
    <!--inject:js-->
    <script src="/js/app.js"></script>
    <!--endInject-->
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
</head>

<body>

    <!-- Static navbar -->
    <header class="nav-down">
        <div class="navbar navbar-default " role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" href="<%=nav[0].Link%>">
                        <%=nav[0].Text%>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% for (var i=1; i < nav.length; i++){%>
                            <li>
                                <a href='<%=nav[i].Link%>'>
                                    <%=nav[i].Text%>
                                </a>
                            </li>
                            <%}%>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </header>


    <div id="workwrap" style="background-image:url(<%=work.Background%>)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 whiteBG">
                    <h4>NEW STEEL WORK FOR</h4>
                    <h1><%=work.Text%></h1>
                    <h4>ROLE: LEAD BUILDER</h4>
                </div>
            </div>
            <! --/row -->
        </div>
        <!-- /container -->
    </div>
    <! --/workwrap -->

    <section id="works"></section>
    <div class="container">
        <div class="row centered mt mb">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>ABOUT THE PROJECT</h4>
                <p>
                    <%=work.About%>
                </p>
            </div>
            <div class="col-lg-10 col-lg-offset-1 mt">
                <% for (var i=0; i < work.Photo.length; i++){%>
                    <a href="<%=work.Photo[i]%>" data-gallery>
                    <img class="img-responsive col-md-3 work-img<%=i%>" src="<%=work.Photo[i]%>">
                    </a>
                    <%}%>
            </div>
            <!--this is the photo gallery-->
            <div id="blueimp-gallery" class="blueimp-gallery">
                <!-- The container for the modal slides -->
                <div class="slides"></div>
                <!-- Controls for the borderless lightbox -->
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
                <!-- The modal dialog, which will be used to wrap the lightbox content -->
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body next"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                                <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of photo gallery -->
        </div>
        <! --/row -->
    </div>
    <! --/container -->

    <div id="social">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-6">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="col-lg-6">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <! --/row -->
        </div>
        <! --/container -->
    </div>
    <! --/social -->


    <div id="footerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-4">
                    <p><b>BUILDER</b></p>
                </div>

                <div class="col-lg-4">
                    <p>Living in the amazing capital of Texas.</p>
                </div>
                <div class="col-lg-4">
                    <p>tim@itimclark.com</p>
                </div>

            </div>

        </div>
    </div>
    <! --/footerwrap -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="js/bootstrap-image-gallery.min.js"></script>
</body>

</html>